<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div th:insert="header :: header"></div>
    <h2>Register</h2>
    <span style="color: red;" th:if="${#fields.hasErrors('registerDTO.*')}">
        <li th:each="error : ${#fields.errors('registerDTO.*')}" th:text="${error}"></li>
    </span>
    <form th:action="@{/register}" th:object="${registerDTO}" method="post">
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}" required>
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" required>
        <br>
        <br>
        <label for="email">Email:</label>
        <input type="text" th:field="*{email}" required>
        <br>
        <br>
        <label for="name">First name:</label>
        <input type="text" th:field="*{name}" required>
        <br>
        <br>
        <label for="surname">Last name:</label>
        <input type="text" th:field="*{surname}" required>
        <br>
        <br>
        <label for="pnr">Person number:</label>
        <input type="text" th:field="*{pnr}" required>
        <br>
        <br>
        <button type="submit">Register</button>
    </form>
    <br>
    <button onclick="window.location.href='/login'">Already have an account? Click here to login</button>
</body>
</html>
