<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div th:insert="header :: header"></div>
    <h2>Register</h2>
    <span style="color: red;" th:if="${#fields.hasErrors('registerDTO.*')}">
        <li th:each="error : ${#fields.errors('registerDTO.*')}" th:text="${error}"></li>
    </span>
    <form th:action="@{/register}" th:object="${registerDTO}" method="post">
        <p>Username:</p>
        <input type="text" th:field="*{username}" required><br>

        <p>Password:</p>
        <input type="password" th:field="*{password}" required><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>
